header.hero {
    text-align: center;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img.app-icon {
        background: $white;
        border: 1px solid $cellBorderLight;
        border-radius: 28.5px;
        box-shadow: 0px 2px $minor $cellBorderLight;
        width: 8rem;
        height: 8rem;

        @include dark {
            border-color: $cellBorderDark;
            box-shadow: none;
        }
    }
    
    p {
        max-width: 18rem;
    }

    form {
        display: flex;
        flex-direction: row;
        margin-top: $middle;
        margin-bottom: $middle;
        outline: 1px solid $cellBorderLight;
        border-radius: 14px;
        box-shadow: $shadow;

        input[type=email] {
            background: $white;
            padding: 14px 14px;
            border: none;
            border-radius: 14px 0px 0px 14px;
            font-size: $footnote;
            margin: 0px;
            flex: 1;
            min-width: 0;

            &:focus {
                outline: none;
            }

            @include mobile {
                flex: 0 1 auto;
                font-size: $caption2;
            }
        }

        input[type=submit] {
            color: $white;
            background: $black;
            border: none;
            border-radius: 0 14px 14px 0;
            font-size: $footnote;
            font-weight: 800;
            padding: 14px 28px;

            @include mobile {
                flex: 0 0 auto;
                font-size: $caption2;
                font-weight: normal;
                padding: 0px 14px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:focus-within {
            outline: 4px solid $selectionLight;

            @include dark {
                outline-color: $selectionDark;
            }
        }

        @include dark {
            box-shadow: none;
            outline-color: $cellBorderDark;
        }

        @include mobile {
            max-width: 19rem;

        }
    }

    @include mobile {
        max-width: 20rem;
    }
}

section.features {
    margin-top: $middle;

    figure.feature {
        background: $white;
        border: 1px solid $cellBorderLight;
        border-radius: 14px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: row;
        width: $page;
        height: 20rem;
        margin: $middle 0;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }
        
        figcaption {
            margin: $middle;
            flex: 1;
            margin-right: 0;
            align-self: center;
            text-wrap: balance;

            h2 {
                margin-top: 0;
            }

            p {
                margin-bottom: 0;
            }

            @include mobile {
                margin-top: $minor;
                margin-left: $middle;
                margin-right: $middle;
            }
        }

        picture {
            img.phone {
                width: 216px;
                height: 443px;
            }
            
            margin-top: $middle;
            margin-right: $major;
            margin-left: $middle;

            @include mobile {
                margin-right: 0;
                margin-left: 0;
            }
        }

        @media desktop {
            &:nth-of-type(even) {
                flex-direction: row-reverse;
                picture {
                    margin-right: $middle;
                    margin-left: $major;
                }
                figcaption {
                    margin-right: $middle;
                    margin-left: 0;
                }
            }
        }

        @include dark {
            background: $secondaryFillDark;
            border: 1px solid $cellBorderDark;
            box-shadow: none;
        }

        @include mobile {
            width: 19rem;
            height: 25rem;
            flex-direction: column;
            align-items: center;

            picture {
                margin-top: 0;
            }
        }
    }
}
