$white: #FFFFFF;
$black: #000000;
$cellBorderLight: #E8E9E9;
$cellBorderDark: #46464B;
$lightGroupedBackground: #F2F2F5;
$selectionLight: rgba($black, 0.3);
$selectionDark: rgba($white, 0.3);
$secondaryFillDark: #2C2C2E;

$shadow: 0px 2px 2rem $cellBorderLight;
